/*      

      * {
        margin: 0;
        padding: 0;
      }
      body {
        background-color: rgb(2, 2, 42);
        color: aliceblue;
        font-family: "Poppins", sans-serif;
      }
      nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        background-color: rgb(18, 21, 46);
      }
      nav ul {
        display: flex;
        justify-content: center;
      }
      nav ul li {
        list-style: none;
        margin: 0 24px;
      }
      nav ul li a {
        text-decoration: none;
        color: aliceblue;
      }
      nav ul li a:hover {
        color: rgb(78, 194, 194);
        font-size: 1.02rem;
      }
      .left {
        font-size: 1.2rem;
      }
      .firstsection {
        padding-top: 80px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 120px 10px;
      }
      .firstsection > div {
        width: 80%;
        margin: 0 120px;
      }
      .leftsection {
        font-size: 2.7rem;
      }
      .rightsection img {
        width: 80%;
      }

      .teal {
        color: rgb(39, 175, 175);
      }

      #element {
        color: rgb(39, 175, 175);
      }
      .secondsection {
        max-width: 80vw;
        margin: auto;
        padding-bottom: 320px;
      }
      .secondsection h1 {
        font-size: 1.9rem;
        padding-bottom: 80px;
      }
      .secondsection .box {
        background-color: aliceblue;
        width: 80vw;
        height: 2px;
        margin: 46px 40px;
        display: flex;
      }

      .secondsection .vertical {
        background-color: aliceblue;
        height: 80px;
        width: 2px;
        margin: 0 190px;
      }

      .vertical-title {
        position: relative;
        top: 5px;
        width: 220px;
        font-size: 16px;
      }
      .vertical-title2 {
        position: relative;
        top: 37px;
        width: 220px;
        font-size: 16px;
      }
      .vertical-title3 {
        position: relative;
        top: 5px;
        width: 200px;
        font-size: 16px;
      }
      .vertical-desc {
        position: relative;
        top: 20px;
        width: 220px;
        font-size: 12px;
      }
      .vertical-desc2 {
        position: relative;
        top: 51px;
        width: 220px;
        font-size: 12px;
      }
      .vertical-desc3 {
        position: relative;
        top: 20px;
        width: 220px;
        font-size: 12px;
      }
      .image-top {
        width: 90px;
        position: relative;
        top: -75px;
        left: -44px;
      }
      .image-top1 {
        width: 70px;
        position: relative;
        top: -62px;
        left: -36px;
      }
      .image-top2 {
        width: 90px;
        position: relative;
        top: -75px;
        left: -44px;
      }
      .main-content {
        padding-bottom: 500px;
      }
      footer {
        background-color: rgb(18, 21, 46);
        height: 80px;
      } */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}
body {
  background-color: rgb(2, 2, 42);
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: rgb(18, 21, 46);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 24px;
}
nav ul li a {
  text-decoration: none;
  color: aliceblue;
}
nav ul li a:hover {
  color: rgb(78, 194, 194);
  font-size: 1.02rem;
}
.left {
  font-size: 1.2rem;
}
.firstsection {
  padding-top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 10px;
}
.firstsection > div {
  width: 80%;
  margin: 0 120px;
}
.leftsection {
  font-size: 2.7rem;
}

.leftsection .buttons {
  padding: 8px 0;
}
.leftsection .btn2 {
  padding: 12px;
  background-color: rgb(2, 2, 42);
  color: aliceblue;
  border-color: aliceblue;
  border-radius: 6px;
  font-size: 16px;
}
.leftsection .btn2:hover {
  padding: 12.3px;
  background-color: rgb(18, 67, 86);
  color: aliceblue;
  border-color: aliceblue;
  border-radius: 6px;
  font-size: 16px;
}
.leftsection .btn1 {
  padding: 12px;
  background-color: rgb(18, 67, 86);
  color: aliceblue;
  border-color: aliceblue;
  border-radius: 6px;
  font-size: 16px;
}
.leftsection .btn1:hover {
  padding: 12.3px;
  background-color: rgb(2, 2, 42);
  color: aliceblue;
  border-color: aliceblue;
  border-radius: 6px;
  font-size: 16px;
}

.rightsection img {
  width: 80%;
}

.teal {
  color: rgb(39, 175, 175);
}

#element {
  color: rgb(39, 175, 175);
}

.secondsection {
  max-width: 80vw;
  margin: auto;
  padding-bottom: 320px;
}

.secondsection h1 {
  font-size: 1.9rem;
  padding-bottom: 80px;
  text-align: center;
}

.secondsection .box {
  background-color: aliceblue;
  width: 80vw;
  height: 2px;
  margin: 46px 0;
  display: flex;
  justify-content: space-between;
}

.vertical {
  background-color: aliceblue;
  height: 80px;
  width: 2px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-top {
  width: 80px;
  position: relative;
  top: -75px;
}

.vertical-box {
  background-color: rgb(18, 21, 46);
  border-radius: 12px;
  padding: 12px;
  margin-top: -50px;
  width: 240px;
  text-align: center;
}
.vertical-box:hover {
  background-color: rgb(24, 103, 103);
  border-radius: 12px;
  padding: 12px;
  margin-top: -50px;
  width: 240px;
  text-align: center;
}

.vertical-title {
  font-size: 16px;
  margin-bottom: 6px;
}

.vertical-desc {
  font-size: 12px;
}

.main-content {
  padding-bottom: 500px;
}

footer {
  background-color: rgb(18, 21, 46);
  height: 80px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
